body,
h2,
p {
  margin: 0;
}

html {
  font-size: 16px;
  color: #000000;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.container {
  min-width: 320px;
  max-width: 100%;
  padding: 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.btn_upper{
    background: #ffbf40;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  min-width: 150px;
  max-width: 250px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  
}

.btn {
  background: #ffbf40;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  min-width: 150px;
  max-width: 250px;
  margin-bottom: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 0 10px 0;
  background: #33cccc;
}

.nav__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}


.nav__name-title {
  text-align: center;
  color: #FFFFFF;
  margin-left: 10px;
}

.nav__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.no-webp .main .recipes .recipe .item-1 {
  background: url("../img/recipes/item-1.jpg") no-repeat center/cover;
}

.no-webp .main .recipes .recipe .item-2 {
  background: url("../img/recipes/item-2.jpg") no-repeat center/cover;
}

.webp .main .recipes .recipe .item-1 {
  background: url("../img/recipes/item-1.webp") no-repeat center/cover;
}

.webp .main .recipes .recipe .item-2 {
  background: url("../img/recipes/item-2.webp") no-repeat center/cover;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 25px;
}

.main .recipes .recipe {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .recipes .recipe h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main .recipes .recipe__item {
  min-height: 500px;
  width: 100%;
  margin-bottom: 25px;
}

.main .recipes .recipe__link {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  max-width: 250px;
  background: #ffbf40;
}


.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 0 10px 0;
  background: #33cccc;
}

.footer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer__name-title {
  text-align: center;
  color: #FFFFFF;
  margin-left: 10px;
}

.footer .copyright {
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 576px) {
    .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
  }

    .nav__auth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

    .nav__auth .btn {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .main .recipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main .recipes .recipe {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    margin: 0 20px 45px 20px;
  }

  .main .recipes .recipe h2 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
  }

  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .main .recipes {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

}

#rating {
    width: 320px;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #333333;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}
#rating div { float: left; }
#rating p { 
    margin: 0; padding: 0;
 }
.param {
    width: 110px;
    margin: 0 20px 0 0;
    text-align: right;
}
.param, .rating, #summ {
     line-height: 28px;
    }
.stars, #sum_stars {
     background: url(../img/common/star.png); 
    }
.stars, #sum_stars, .progress, #sum_progress {
    width: 130px;
    height: 28px;
    cursor: pointer;
}

.progress {
     background: #FFEE00; 
    }

#sum_progress {
     background: #00EE00; 
    }
.rating, #summ {
    margin: 0 0 0 20px;
    font-weight: bold;
}

.rating input{
    margin-left: auto;
    margin-right: auto;
}